---
import Logo from '../components/Logo.astro';
---

<nav class="Header">
    <Logo variant="icon" width="4vw" />
    <div class="Header-text">
        <h1>
            <span class="text-white">COURT </span>
            <span class="text-gradient">SIDE</span>
        </h1>
        <h3><span class="nba-underline">NBA</span> TRACKER</h3>
    </div>
    <div class='invisible'></div>
</nav>

<style>

    .invisible {
        opacity: 0;
        aria-hidden: true;
        width: 4vw;
    }

    .Header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 15%;
        gap: 0.3vw;
        width: 100%;
    }

    .text-white {
        color: #F0F0F0;
    }

    h1 {
        font-weight: 900;
        letter-spacing: 0.2vw;
    }

    h3 {
        font-weight: 400;
        letter-spacing: 0.01vw;
        color: #f0f0f0a4;
    }

    .text-gradient {
        background: linear-gradient(90deg, #e85d04, #f48c06);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .nba-underline {
        border-bottom: 0.15vw solid #e85d04;
        padding-bottom: 0.15vw;
    }
    
    .Header-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>